<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Vacation Manager"
            id="de.tu_bs.vacation_manager.plugin.commands.category">
      </category>
      <command
            name="Exportiere Kalender"
            categoryId="de.tu_bs.vacation_manager.plugin.commands.category"
            id="de.tu_bs.vacation_manager.plugin.commands.sampleCommand">
      </command>
      <command
            name="Validiere Modelle"
            categoryId="de.tu_bs.vacation_manager.plugin.commands.category"
            id="de.tu_bs.vacation_manager.plugin.commands.validate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="de.tu_bs.vacation_manager.plugin.commands.sampleCommand"
            class="de.tu_bs.vacation_manager.plugin.handlers.ExportHandler">
      </handler>
      <handler
            commandId="de.tu_bs.vacation_manager.plugin.commands.validate"
            class="de.tu_bs.vacation_manager.plugin.handlers.ValidateHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.tu_bs.vacation_manager.plugin.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Vacation Manager"
               mnemonic="M"
               id="de.tu_bs.vacation_manager.plugin.menus.sampleMenu">
            <command
                  commandId="de.tu_bs.vacation_manager.plugin.commands.sampleCommand"
                  mnemonic="S"
                  id="de.tu_bs.vacation_manager.plugin.menus.sampleCommand">
            </command>
            <command
                  commandId="de.tu_bs.vacation_manager.plugin.commands.validate"
                  mnemonic="S"
                  id="de.tu_bs.vacation_manager.plugin.menus.validate">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.tu_bs.vacation_manager.plugin.toolbars.sampleToolbar">
            <command
                  commandId="de.tu_bs.vacation_manager.plugin.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="de.tu_bs.vacation_manager.plugin.toolbars.sampleCommand">
            </command>
            <command
                  commandId="de.tu_bs.vacation_manager.plugin.commands.validate"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="de.tu_bs.vacation_manager.plugin.toolbars.validate">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
