<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="de.tu_bs.vacation_manager.test.util.Calender2TextUtil"
            defaultName="de.tu_bs.vacation_manager.test.util.Calender2Text">
      </tool>
   </extension>

</plugin>
